*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 2px rgb(26, 68, 102)
}

.menu img{
    width: 10%;
    margin: 1vw;
}

.opcionesMenu{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.opcionesMenu a{
    font-size: 1.3vw;
    padding: 0.5vw 1vw;
    color: rgb(26, 68, 102);
    text-decoration: none;
}

.opcionesMenu a:hover{
    background: rgb(26, 68, 102);
    color: white;
}

.opcionesMenu li a:visited{
    color: rgb(26, 68, 102);
    text-decoration: none;
}

.cuerpo{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.presentacion{
    display: flex;
    width: 96%;
    flex-direction: column;
    padding: 2%;
}

.presentacion h2{
    color: rgb(26, 68, 102);
    font-size: 3vw;
}

.presentacion p{
    margin-top: 1vw;
    color: black;
    font-size: 1.3vw;
    width: 50%;
}

.opcionesCuerpo{
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 2vw 5%;
    border-top: rgb(239, 175, 0) 1px solid;
    border-bottom: rgb(239, 175, 0) 1px solid;
    background: rgb(239, 175, 0);
}

.descripcionSeccion{
    display: flex;
    width: 22%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: rgb(26, 68, 102) 2px solid;
    padding: 1vw;
    background: white;
}
/* https://github.com/melisavanegasguzman/HTML5.git */
.descripcionSeccion img{
    max-width: 100%;
    max-height: 12vw;
}

.descripcionSeccion h3{
    color: rgb(26, 68, 102);
    font-size: 1.8vw;
    text-align: center;
}

.descripcionSeccion a{
    color: rgb(26, 68, 102);
    font-size: 1.3vw;
    text-align: center;
    margin: 1vw auto 0;
}